@media only screen and (max-width: 800px) {

    .container{
        width: 440px;
        font-size: 1.1vw;
        flex-direction: column;
    }

    #panel, #output{
      display: block;
      width: 440px;
    }

}


@media only screen and (max-width: 1199px) {

    .container{
        width: 100%;
        font-size: 1.1vw;
    }

}

@media only screen and (min-width: 1200px) {

    .container{
        width: 1200px;
        font-size: 13.5px;
    }

}

body{
    background-color: rgb(230, 230, 230);
}

.container{
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    position: relative;
}

#panel, #output{
    height: 98vh ;
    background-color:white;
    border: 2px solid black;
    border-radius: 20px;
    overflow-y: scroll ;
    overflow-x: hidden ;
    margin: 0;
}

#panel{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 16px;
}

@media only screen and (min-width: 800px) {
  #panel{
    width: 350px;
  }

  #output{
    width: 595px;
  }
}

header{
    text-align: center;
    margin: 2em 0;
}

header h1{
    font-size: 4em;
    margin: 0;
}

strong {
    font-size: 1.5em;
}

#canvascontainer , canvas{
    display: block;
    margin: 0 auto;
  }

.field{
    position: relative;
    left: 0.5em;
    margin: 0.5em 0.5em;
}

input{
  border-radius: 13px;
}

.field span{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  vertical-align: top;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 20px;
  padding: 0 8px;
  box-shadow: 2px 2px rgb(172, 172, 172);
  left: 6em;
}

.textinput{
  position: relative;
  display:inline-block;
  width: 95%;
  box-shadow: 2px 2px rgb(172, 172, 172);
  border-radius: 5px;
}

.field label{
  display: inline-block;
  vertical-align: top;
}

#panel p{
  text-align: center;
}

#generate{
    /* display:none; */
    font-size: 30px;
    color: rgb(230, 230, 230);
    background-color: rgb(71, 94, 28);
    width: 6em;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 2px 2px black;
    transition: width 0.2s;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .press{
    box-shadow: inset 4px 3px 2px 2px black !important;
    width: 5.9em !important;
  }

  .topbox , .topbox{
    position: relative;
    width: 100%;
  }

  .toptextoutput , .bottomtextoutput{
    display:block;
    margin: 0;
    font-size: 30px;
    text-align: center;
    padding: 5px 0px;
    width: 100%;
  }

  .toptextoutput{
    top: 0px;
  }

  .bottomtextoutput{
    bottom: 0px;
  }

  .memebox{
    position: relative;
    display: block;
    border: 2px solid black;
    margin: 10px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .imgbox{
    border: 4px solid rgb(75, 75, 75);
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  .memepic{
    margin: 0;
    padding: 0;
  }

  .dltbtn{
    display: block;
    color: red;
    font-size: 20px;
    width:20px;
    margin: 10px 0;
    cursor: pointer;
  }

  .savebtn{
    display: block;
    font-size: 20px;
    width:25px;
    margin: 10px 0;
    cursor: pointer;
  }

  #smlmenu{
    display: block;
    position: absolute;
    right: -30px;
    top: 0px;
    font-size: 20px;
    width:20px;
  }

  #options{
    font-size: 10px;
    text-align: center;
  }
